* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow Condensed", sans-serif;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(
        134.34% 134.34% at 50% 0%,
        #1f3757 0%,
        #131537 100%
    );
}

.scoreboard {
    width: 700px;
    border: 2px solid white;
    border-radius: 15px;
    margin-top: 50px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin-left: 30px;
}

.score {
    width: 150px;
    height: 114px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 30px;
}

.score h1 {
    color: #565468;
    font-size: 56px;
}

.score p {
    color: #2a45c2;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 2.5px;
}

.hands {
    width: 476px;
    height: 430px;
    background-image: url("/images/triangle.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}



.scissors {
    margin-left: 20px;
}

.paper {
    margin-right: 20px;
}

.hands .hand {
    cursor: pointer;
    transition: all 0.25s;
}

.hands .hand:hover {
    transform: translate3d(0px, -8px, 0px);
}

.contest {
    width: 900px;
    display: none;
    margin-top: 50px;
}

.contest img {
    width: 275px;
    height: 275px;
}

.contest h1 {
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.contest .handImageContainer {
    display: flex;
    justify-content: center;
}

/* Targeting each Parent div in the contest div */
.contest > div {
    /* Giving them all an importance of 1 meaning same width */
    flex: 1;
}

.referee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.referee h1 {
    font-size: 45px;
}

.newGame {
    background-color: white;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    color: hsl(229, 25%, 31%);
    transition: all 0.15s;
}

.newGame:hover {
    background-color: bisque;
    transform: translate3d(0px, -2px, 0px);
}